.flex-container{
    display: flex;
    width: 84vw;
    margin: 1rem auto;  
}

.img-container{
    display: flex;
    width: 90vw;
    margin: 0.5rem auto;
    box-shadow: 5px 5px #111;
}

.img{
    width: 90vw;
}

.box{
    width: 40vw ;
    border-radius: 4px;
    border: 2px solid white;
}

.btn{
    width: 20vw;
}

.box:first-child{
    margin-right: 0.3rem;
}

.label{
    margin-top: 2px;
    margin-bottom: 2px;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.rot0{
    transform: rotate(0deg);
}

.rot90{
    transform: rotate(90deg);
}

.rot180{
    transform: rotate(180deg);
}

.rot270{
    transform: rotate(270deg);
}

.mirY{
    transform: scaleY(-1);
}

.mirX{
    transform: scaleX(-1);
}

.bw-effect{
    filter: grayscale(100%);
}

.sepia-effect{
    filter: sepia(100%);
}

.blur-effect{
    filter: blur(1px);
}

@media (min-width: 768px){
    .main-container{
        display: flex;
        margin-top: 3rem;
    }
    
    .img{
        display: block;
        width: 25rem;
        
    }

    .img-container{
        display: block;
        width: 25rem;
        margin: 1rem;
    }

    .flex-container{
        display: block;
        width: 15rem;
        margin:2rem;
    }
    .box{
        display: block;
        width: 10rem;
        height: 4rem;
        margin: 3rem;
    }
    .btn{
        width: 10rem;
    }

}