.img-container{
    display: flex;
    width: 90vw;
    margin: 0.5rem auto;
    box-shadow: 5px 5px #111;
}

.img{
    width: 90vw;
}

.rot0{
    transform: rotate(0deg);
}

.rot90{
    transform: rotate(90deg);
}

.rot180{
    transform: rotate(180deg);
}

.rot270{
    transform: rotate(270deg);
}